
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}

header{
    Width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    transition: .2s;
}


.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
    color:#AD5757;
}



.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: #AD5757;
    text-transform: uppercase;
    padding: 15px 25px;
    font-weight: bold;
    border: 1px solid #ffffff00;
    transition: 0.25s;
}

@keyframes anim {
    0%  {box-shadow:0 0 5px rgba(255, 255, 255, 0.2);}
    25% {box-shadow:0 0 10px rgb(255, 0, 0);}
    50% {box-shadow:0 0 10px rgb(0, 255, 0);}
    75% {box-shadow:0 0 10px rgb(0, 0, 255);}
    100%{box-shadow:0 0 5px rgba(255, 255, 255, 0.2);}
}

.menu li a:hover{
    background-color: rgba(100,100,100, 0.2);
    border: 1px solid #ffffff;
    animation-name: anim;
    animation-duration: .75s;
    animation-iteration-count: infinite;
}


.fundotab{
    background-color: rgba(173, 87, 87, 1.0);
   
    max-height: 0px;
    align-items: center;
    vertical-align: center;
    color: white;
    text-shadow: 0px 2px #00321f;
    font-weight:bold;
    border-bottom: 1px solid #000000;
   
    
}

.kkj{
    background-color: rgba(255, 255, 255, 0.10);
    Width: 75%;
    
    
    margin: auto;
    margin-top: 75px;
    margin-bottom: 30px;
    display:grid;
    border: 1px solid #000000;
    box-shadow: 0 0 5px #000000;
}

.fundotd{
    background-color: rgba(217, 217, 217, 0.60);
    color: #ffffff;
    
}


td{
   
    
    font-weight: bold;
    text-align:center;
    unicode-bidi: isolate;
    font-size: 115%;
}

p{
    color: white;
    line-height: 1.5;
    font-size: 115%;
}

.ladoalado{
    display: flex;
    padding: 15px;
    margin: 15px
}

.sideimg{
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid #000000;
    
    margin-left: 15px;
    text-align: center;
    

}

.fundotabimg{
    background-color: rgba(173, 87, 87, 1.0);
    Width: 100%;
    
    align-items: center;
    justify-content:center;
    vertical-align: center;
    color: white;
    text-shadow: 0px 2px #00321f;
    font-weight:bold;
    border-bottom: 1px solid #000000;
    
}

.imagem{
    margin: 15px;
    margin-left: 80px;
    margin-right: 80px;
    
}

.divflex{
    display: flex;
    
}

.espaco{
    margin: 50px;
}

a{
    
    color:rgba(173, 87, 87, 1.0);
}

a:hover{
    color: rgb(127, 35, 198);
}

h2{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-size: 120%;
}

.omori{
    background-image: url(https://pa1.aminoapps.com/6420/ebd2990be8983757edac896d44cae15bfe23fc7c_00.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    min-width: 100px;
    border-radius: 350px;
}

table tr td a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .2s;
}

table tr td a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    color: rgb(199, 193, 204);
}

.tema{
    width: 25px;
    height: 25px;
    border: 1px solid #ffff;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}
.tema:hover{
    width: 25px;
    height: 25px;
    border: 1px solid #ffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    transform: scale(1.1);
}

.tema.light{
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}
.tema.light:hover{
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 50%;
    background-color: #000000;
}

body{
    background-color: rgb(19, 19, 19);
    transition: .2s;
}

body.light{
    background-color: rgb(255, 255, 255);
}

body.light p{
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-size: 115%;
}

body.light .kkj{
    background-color: rgba(23, 23, 23, 0.9);
    Width: 75%;
    
    
    margin: auto;
    margin-top: 75px;
    margin-bottom: 30px;
    display:grid;
    border: 1px solid #000000;
    box-shadow: 0 0 5px #000000;
}

body.light .sideimg{
    background-color: rgba(23, 23, 23, 0.9);
    border: 1px solid #000000;
    
    margin-left: 15px;
    text-align: center;
}

body.light header{
    Width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  
}

.btn{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%  ;
    z-index: 1;
    background-color:rgba(173, 87, 87, 1.0);
    border: 1px solid #000000;
    box-shadow: 0 0 15px #000000;
    cursor: pointer;
    color: #ffff;
    transition: .1s;
}

.btn:hover{
    transform: scale(1.1);
    background-color:rgb(148, 75, 75);

}
